.footer__column-heading{ 
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 20px;
    margin-top: 0;
    color: white;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
  
  }